telethon
datetime
asyncio
psutil
requests
urllib3
wikipedia
pytz
spotipy
pytube
googlesearch-python
deep-translator
beautifulsoup4
pillow
gtts
youtube-dl
geopy
timezonefinder
qrcode
yt_dlp
whois
aiohttp
persiantools
jdatetime
python-whois
